userdebug_or_eng(`
    permissive gxp_logging;
    permissive hal_health_default;
    permissive hal_power_stats_default;
    permissive hal_uwb_default;
    permissive hal_vibrator_default;
    permissive hal_wireless_charger;
    permissive init-qfp-sh;
    permissive insmod-sh;
    permissive network_stack;
    permissive pixelstats_vendor;
    permissive system_server;
    permissive vendor_init;
    permissive thermal_link_device;
    permissive kernel;
    permissive qfp-daemon;
    permissive hal_power_default;
    permissive servicemanager;
')
