# b/308381292
dontaudit system_suspend_server sysfs:dir { open };
dontaudit system_suspend_server sysfs:dir { read };
dontaudit system_suspend_server sysfs:file { getattr };
dontaudit system_suspend_server sysfs:file { open };
dontaudit system_suspend_server sysfs:file { read };
dontaudit system_suspend_server sysfs_batteryinfo:dir { open };
dontaudit system_suspend_server sysfs_batteryinfo:dir { read };
dontaudit system_suspend_server sysfs_batteryinfo:file { getattr };
dontaudit system_suspend_server sysfs_batteryinfo:file { open };
dontaudit system_suspend_server sysfs_batteryinfo:file { read };
dontaudit system_suspend_server sysfs_wlc:dir { open };
dontaudit system_suspend_server sysfs_wlc:dir { read };
dontaudit system_suspend_server sysfs_wlc:file { getattr };
dontaudit system_suspend_server sysfs_wlc:file { open };
dontaudit system_suspend_server sysfs_wlc:file { read };
